#btn button:hover{
  background: #721ce3;
}
#btn button.active{
  opacity: 1;
}
/* .todoList-storage button{
  padding: 6px 10px;
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 3px;
  font-size: 21px;
  background: #d75151;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todoList-storage button:hover{
  background: #f43737;
}
.todoList-footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8E49E8;
  cursor: pointer;
  transition: all 0.3s ease;
}
.todoList-footer button:hover{
  background: #721ce3;
} */